@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar .active {
  background-color: #f68713;
  color: white;
}

.total-data .total-data-item:not(:last-child) {
  border-right: 2px solid rgb(170, 168, 168);
}

.admin-sidebar .active {
  background-color: #dbeafe;
  color: #0a65cc;
  border-left: 3px solid #0a65cc;
  font-weight: bold;
}
